@import "tailwindcss";

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}

.wave-on-hover:hover {
  animation: wave 1s infinite ease-in-out;
  transform-origin: 70% 70%;
  display: inline-block;
}

.image-bg {
  background-image: url("https://i.pinimg.com/originals/b0/f6/64/b0f6645a029e85c67efb91c7c750ba0b.gif");
  background-size: cover; /* เต็มพื้นที่ */
  background-position: center;
  background-repeat: no-repeat; /* ไม่ซ้ำ */
}
